@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;

    
}


header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 150px;
    background-color: rgb(252, 252, 252);
    position: fixed;
    z-index: 999;
    align-items: center;
}

.navigation{
    text-decoration:none;
    color: rgb(204, 210, 216);
    font-weight: bold;
    font-size: 1.1em;
    padding: 30px;
}

.main-section{
    display: flex;
    padding-top: 250px;
    align-items: center;
    flex-direction: column;
    padding-bottom: 150px;
}


.slogen{
    padding-top: 50px;
    color: #00b39b;
    font-size: 2.125rem;
    font-weight:200;
    padding-bottom: 50px;
}

.paragraphs{
    display: flex;
}

.paragraph1{
    height: 100px;
    width: 600px;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    
}

.paragraph2{
    height: 100px;
    width: 600px;  
    display: inline-block;
    font-size: 16px;
    
}
.cards-section{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 80%;
    margin: 0px auto;
    padding: 0px auto
}

.icon{
    font-size: 2em;
    text-align: start;
}
.patients{
    display: flex;
    height: 345px;
    width: 300px;
    flex-direction: column;
    background-color: #00b39b;
    padding: 30px;
    margin: 20px;
    justify-content: center;
    justify-content: space-between;
    color: #ffffff;
    font-weight: 400;
    border-radius: 10px;
    line-height: 1.3;

}

.doctors{
    display: flex;
    height: 345px;
    width: 300px;
    flex-direction: column;
    background-color: #3d83df;
    padding: 30px;
    margin: 20px;
    justify-content: center;
    justify-content: space-between;
    color: #ffffff;
    font-weight: 400;
    border-radius: 10px;
    line-height: 1.3;
    
}
.clinics{
    display: flex;
    height: 345px;
    width: 300px;
    flex-direction: column;
    background-color: #1b2734;
    padding: 30px;
    margin: 20px;
    justify-content: center;
    justify-content: space-between;
    color: #ffffff;
    font-weight: 400;
    border-radius: 10px;
    line-height: 1.3;
}
.cards-section{
    justify-content: space-between;
    width: 900px;

}
.country-choice{
    background-color: transparent;
    color:#ffffff;;
}

.branches{
    display: flex;
    justify-content: space-between;
    padding: 200px;
}

.branches>h1{
    height: 100px;
    width: 600px;  
    display: inline-block;
    font-size: 16px;
    color: #00b39b;
    font-size: 2em;
    font-weight: 300;
    display: inline-block;

}

.branch-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    font-size: 0;
    list-style: none;
    width: 67%;
    height: 100px;
}

.stats{
    padding:20px 200px ;
    height: 600px;
    width: 2000px;
    background-color: rgb(224, 245, 238);
    padding: 1.875em 0 0.625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
    position: absolute;
}

.sectaion3-headrer h1{
    padding-bottom: 30px;
    padding-left: 200px;
    position: absolute;
    color: #00b39b;
    font-size: 2em;
    font-weight: 300;
}

.sectaion3-headrer p {
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 200px;
}